<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Panchito's FarmCut</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/fontawesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light text-uppercase font-weight-bold">
            <div class="container">
                <a class="navbar-brand" href="store.html"><img width="200" src="/images/Symbol.jpg" alt="#" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#show-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="show-menu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#team">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#palace">Palace</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact Us</a>
                        </li>
                        <li class="nav-item search">
                            <a class="nav-link"><i class="fas fa-search"></i></a>
                            <form>
                                <input type="search">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <header class="text-uppercase" id="home">
                <div class="row">
                    <div class="col-xl-5 col-lg-12">
                        <p><span>Panchitos</span> FarmCut</p>
                        <button><a href="#" class="text-uppercase">read more</a></button>
                    </div>
                    <div class="col-xl-7 col-lg-12">
                        <div class="white-overlay d-flex align-items-center">
                            <button><a href="#" class="text-uppercase">contact now</a></button>
                        </div>
                    </div>
                </div>
        </header>
        
        <div class="about-us">
            <div class="container">
                <strong class="text-uppercase" id="about">about us</strong>
                <h2 class="text-uppercase">Our <span>Place</span></h2>
                <p>FarmCut Pure Food and Pure Comfort</p>
                <div class="row">
                    <div class="col-lg-7 col-12 d-flex align-items-center">
                        <p>At Panchitos FarmCut we are committed to helping our clients plan the perfect event. We offer gourmet food for any occasion with professional service and attention to detail. Whether it’s an intimate dinner, backyard barbecue, corporate lunch, wedding, or bar mitzvah, our skilled catering team is ready to make sure that everything goes smoothly.

                            No event is too big or too small. If you can imagine it, we can create it! We can provide servers, bartenders and other event services as well.</p>
                        <button class="text-uppercase font-weight-bold"><a href="#">read more</a></button>
                    </div>
                    <div class="col-lg-5 col-12">
                        <div class="blue-shadow"></div>
                        <img src="/static/images/1.jpg" width="100%">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="services text-center">
            <div class="container">
                <h2 class="text-uppercase" id="services">Our <span>services</span></h2>
                <p>Are for all types of occasions</p>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-xs-12 active">
                        <div class="item">
                            <i class="fas fa-stopwatch fa-3x"></i>
                            <h4><a href="#">Fast service</a></h4>
                            <p>fast and smooth our team are trained individuals when it comes to food catering.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="item">
                            <i class="fas fa-money-check-alt fa-3x"></i>
                            <h4><a href="#">Secure payments</a></h4>
                            <p>Our transactions are secured online!</p>
                        </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="item">
                            <i class="fas fa-suitcase fa-3x"></i>
                            <h4><a href="#">Affordable services</a></h4>
                            <p>Affordable services bet you can't find like ours.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="item">
                            <i class="fas fa-award fa-3x"></i>
                            <h4><a href="#">Award winning</a></h4>
                            <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea</p>
                        </div>
                    </div>
                    <button><a href="#" class="text-uppercase font-weight-bold">read more</a></button>
                    <div class="rectangle"></div>
                </div>
            </div>
        </div>
        
        <div class="what-we-do" id="team">
            <div class="container">
                <h2 class="text-uppercase">What <span>we do</span></h2>
                <p>We are a fast and smooth catering service company. and not only we are fast and smooth but our dishes also stands out. </p>
                <div class="img"></div>
                <div class="start-button text-center">
                    <i class="fas fa-play"></i>
                </div>
            </div>
        </div>
        
        <div class="prices">
            <div class="container">
                <div id="company"></div>
                <h2 class="text-center text-uppercase">Our <span>pricing table</span></h2>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="item f-item">
                            <div>
                                <h5>Small Parties</h5>
                                <p>The best to start</p>
                            </div>
                            <div>
                                <p><span>₱</span> <span>10,000</span> /per event</p>
                                <ul>
                                    <li>Fast service</li>
                                    <li>Safe payments</li>
                                    <li>Fully trained employees</li>
                                    <li>Delicious Food</li>
                                </ul>
                                <button><a href="#">Get started</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="item active">
                            <div>
                                <h5>Weddings</h5>
                                <p>The best to start</p>
                            </div>
                            <div>
                                <p><span>₱</span> <span>20,000</span> /per event</p>
                                <ul>
                                    <li>Fast service</li>
                                    <li>Safe payments</li>
                                    <li>Fully trained employees</li>
                                    <li>Decorations and all</li>
                                    <li>Delicious Food</li>
                                </ul>
                                <button><a href="#">Get started</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="item l-item">
                            <div>
                                <h5>Reunion Parties</h5>
                                <p>The best to start</p>
                            </div>
                            <div>
                                <p><span>₱</span> <span>30,000</span> /per event</p>
                                <ul>
                                    <li>Fast service</li>
                                    <li>Safe payments</li>
                                    <li>Fully trained employees</li>
                                    <li>Delicious Food</li>
                                </ul>
                                <button><a href="#">Get started</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="contact" id="contact">
            <div class="container">
                <div class="contact-form">
                    <form>
                        <input type="text" placeholder="Your name">
                        <input type="text" placeholder="Phone number">
                        <input type="text" placeholder="Select service">
                        <input type="email" placeholder="Email">
                        <textarea placeholder="Message"></textarea>
                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
        </div>
        
        <footer>
            <div class="main-part">
                <div class="container">
                    <div class="d-flex justify-content-between text-uppercase">
                        <div>Company logo</div>
                        <ul class="main-list">
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about">about</a></li>
                            <li><a href="#services">services</a></li>
                            <li><a href="#team">team</a></li>
                            <li><a href="#company">company</a></li>
                            <li><a href="#contact">contact us</a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                    <div class="text-center">
                        <form>
                            <label>
                                News letter
                                <input type="text" placeholder="Your email">
                                <input type="submit" value="Subscribe">
                            </label>
                        </form>
                        <p>Get Updates on us straight to your social media accounts or emails.</p>
                    </div>
                </div>
            </div>
        </footer>
        
        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script>
            $(function () {
                
                'use strict';
                
                $('.navbar ul.navbar-nav li.search a').on('click', function () {
                    $(this).siblings('form').fadeToggle();
                });
                
                $('.navbar ul.navbar-nav li a, footer ul.main-list li a').on('click', function (e) {
                    
                    var getAttr = $(this).attr('href');
                    
                    e.preventDefault();
                    $('html').animate({scrollTop: $(getAttr).offset().top}, 1000);
                });
            });
        </script>
    </body>
</html>